NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_BUSINESS_PHONE=7373144215
NEXT_PUBLIC_BUSINESS_EMAIL=nietogreencare@gmail.com
NEXT_PUBLIC_CASH_APP_URL=https://cash.app/$JaimeNietoMorales
NEXT_PUBLIC_ZELLE_PHONE=7373144215
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
TURNSTILE_SECRET_KEY=
RESEND_API_KEY=
EMAIL_TO=nietogreencare@gmail.com
EMAIL_FROM=
